.container{
    padding-top: 10px;
    width: 800px;
    height: 510px;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin:0 auto;
    justify-content:space-around;
}
.link{
    color:white;
    width:49%;
    height:48.5%;
    position: relative;
    overflow: hidden;
}
.link img{
    width: 100%;
    height:100%;
    object-fit: cover;
    transition: .5s ;
}
.h2{
    position: absolute;
    bottom:30px;
    left:20px;
}
.link img:hover{
    transform:scale(1.1);
}
@media (max-width:800px){
    .container{
        width: 60%;
        height: 1200px;        
    }
    .link{
        width: 100%;
        height: 24.5%;
    }
}
@media (max-width:550px){
    .container{
        width: 100%;   
        padding:10px;    
    }
    .link{
        width: 100%;
        height: 24.5%;
    }
}